@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=IBM+Plex+Serif:wght@600&display=swap");
$body-font-family: "IBM Plex Mono";
$heading-font-family: "IBM Plex Serif";
$black: #5f6c7b;
$darkblue: #094067;
